#tableformcontent, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
  align-items: center;
}
#title, textarea{
    width: 70%;
}
.submit{
    width: 100px;
    background-color: white;
    height: 30px;
}
.content{
    background-color: #F5F5F5;
}